/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

/* Call to Action Button */
.cta-btn-main {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
    border-radius: 20px;
  }
}

/* Hero Style */
.cta-btn--hero {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  border-image-slice: 1;
  cursor: pointer;
  // Responsive Button hero style
  @include respond(phone) {
    background-image: none;
    border: 2px solid $secondary-color;
    -webkit-text-fill-color: $secondary-color;
  }

  &::after {
    background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
    // Responsive Button hero style
    @include respond(phone) {
      background-image: none;
    }
  }

  &:hover {
    -webkit-text-fill-color: $white-color;
    text-decoration: none;
    // Responsive Button hover hero style
    @include respond(phone) {
      -webkit-text-fill-color: $secondary-color;
    }

    &::after {
      width: 100%;
    }
  }
}

/* Hero Style */
.cta-btn--more {
  border: 2px #ECB390 solid;
  cursor: pointer;
  border-radius: 20px;
  color: #ECB390;
  // Responsive Button hero style
  @include respond(phone) {
    background-image: none;
    border: 2px solid $secondary-color;
    -webkit-text-fill-color: $secondary-color;
  }
  &::after {
    background: #CEE5D0;
    // Responsive Button hero style
    @include respond(phone) {
      background-image: none;
    }
  }
  &:hover {
    -webkit-text-fill-color: $white-color;
    text-decoration: none;
    border: 2px #CEE5D0 solid;
    // Responsive Button hover hero style
    @include respond(phone) {
      -webkit-text-fill-color: $secondary-color;
    }
    &::after {
      width: 100%;
    }
  }
}

/* Resume Style */
.cta-btn--resume {
  color: $white-color;
  border: 2px solid $white-color;
  cursor: pointer;

  &::after {
    background: $white-color;
  }

  &:hover {
    color: #ECB390;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}

.roundedd{
  border-radius: 20px !important;
  margin-bottom: 30px;
}
#before-after{
  padding: 10% 0;
  background-image: linear-gradient(0deg, white 0%, #898aa652 100%);
}
.beforeafterbutton{
  padding: 3% 0 !important;
}
.beforeaftertext{
  line-height: 145%;
}
.form-group-contact{
  text-align: left;
}
.contactinput{
  font-size: 1.75rem;
  margin-bottom: 2.5rem;
}
.contactinputbutton{
  font-size: 1.75rem;
  color: #ECB390;
}